body {
    padding: 20px;
}

.cards-1 {
    display: flex;
    
}
.cards-2 {
    display: flex;
    margin-top: 100px;

}
.card-1 {
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 30%;
    margin-left: 30px;
}
.card-2 {
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 30%;
    margin-left: 30px;
}
.card-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.card-content {
    padding: 25px;
}
.card-title {
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 25px;
}
.card-note {
    display: flex;
    color: #999;
    font-weight: 300;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}
.card-rank {
    margin-left: 50px;
    color: orange;
}
.card-rank span {
    color: black;
}
.card-bottom {
    display: flex;
}
.card-monney {
    color: red;
    font-size: 25px;
}